@import "../../styles/colors.scss";

    .styled-button {
        background-color: transparent;
        border: 1px solid $primaryMain;
        width: 250px;  
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 0.9em;
        color: $primaryMain;        
        background-color: transparent;

        .right-arrow {
            font-size: 1.3rem;  
            color: $primaryMain;      
        }
 
        &:hover {
        background-color: $primaryMain;
        cursor: pointer;
        color: white;        

            .right-arrow {
                color: white;
                cursor: pointer;            
            }
        }
    }  
