@import "../../styles/colors.scss";

.navbar-container {
    background-color: $washedWhite;
    color: $primaryMain;
    display: flex-box;
    height: 600px;
    width: 380px;
    padding-left: 4em;
    margin-right: -2em;

    .navbar-items-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        justify-items: start;
        padding-top: 5em;

        a {
            color: $primaryMain;
            text-decoration: none;
            font-size: 1.5em;
            font-weight: lighter;            
        }
    } 

    .say-hello-container{
        font-size: 1.5em;
        padding-top: 3em;
        display: grid;
        justify-items: start;


        .title{
            color: #cbc9e2;
            padding-bottom: 1em;         
        }
    } 
}