@import "../../styles/colors.scss";

.contacts-container {
    display: flex;
    justify-content: center;
    background-color: $washedWhite;
    height: 100vh;

    .message-me-container {
        padding-top: 10em;
        width: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        justify-items: center;

        .message-me-intro {
            width: 75%;
            text-align: center;

            .message-me-title {
                color: $primaryMain;
                font-size: 3.5em;
                font-weight: 700;
                padding-bottom: 0.5em;
            }
    
            .message-me-text {
                color: $footerPurple;
                font-size: 1.7em;
                }   
        }
    }
}