.work-container {
    background-color: #b1b1b1;
    color: #474747;

    .work-contents {
      padding-top: 10rem;
  
      .work-intro {
        text-align: center;
        margin-bottom: 1rem;
  
        h1 {
          font-size: 3em;
          padding-bottom: 0.8em;
        }
  
        p {
          font-size: 1.5em;
        }
      }
  
      .all-cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 5em;
      }
    }
  
    .topbar-over {


    }
  }
  