@import "../../styles/colors.scss";

.hero-card-container {
    width: 35%;
    padding: 16rem 0 0 10rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;

    .hero-card-title{
        color: $secondaryMain;
        font-size: 4.5em;
        font-weight: 900;
        padding-bottom: 0.3em;

        .circle {
            color: $washedWhite;
            width: 17px;
            height: 17px;
        }
    }

    .hero-card-description{
        color: $washedWhite;
        font-size: 1.5em;

    }

    .hero-card-additional-description-container{
        color: $secondaryMain;
        display: flex;
        padding-top: 3em;
        gap: 3em; 
    }
}